.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/public/images/animes/
/public/images/episodes/
/public/php/v1/configurations/config.php
/public/php/v1/composer.lock
/public/php/v1/vendor/
/package-lock.json
/public/php/v1/example.php
/public/images/members/
